<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">heading</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, itaque autem. Atque accusamus, laboriosam
            itaque eos exercitationem consequuntur ipsa nisi minima ullam autem, amet magnam vero ad unde optio
            assumenda.</p>
    </header>
    <div style="width: 30%; padding: 4rem;">
        <div class="card card--secondary">
            <header class="card__header">Card title</header>
            <div class="card__body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, animi
                perferendis,
                corrupti quia placeat accusantium veniam, neque debitis maxime sit ratione numquam inventore
                voluptate unde
                optio consequatur sed dolorem id?</div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">heading</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, itaque autem. Atque accusamus, laboriosam
            itaque eos exercitationem consequuntur ipsa nisi minima ullam autem, amet magnam vero ad unde optio
            assumenda.</p>
    </div>
</section>