<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <img class="block-showcase__image" src="images/ipad.png" alt="">
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start and Managed updated</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, eveniet! Magnam ab
                            suscipit quia facere.
                            Vel esse, temporibus accusamus id tempore cum culpa dignissimos totam, odit
                            consequuntur, atque eveniet?
                            Laboriosam?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging , GIT & WP-CLI</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, eveniet! Magnam ab
                            suscipit quia facere.
                            Vel esse, temporibus accusamus id tempore cum culpa dignissimos totam, odit
                            consequuntur, atque eveniet?
                            Laboriosam?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynamic caching & more</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, eveniet! Magnam ab
                            suscipit quia facere.
                            Vel esse, temporibus accusamus id tempore cum culpa dignissimos totam, odit
                            consequuntur, atque eveniet?
                            Laboriosam?</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>